<div class="container animated fadeIn">
    <h1 class="text-center TypeLetter">Bienvenido</h1>
    <div class="slider">
        <ul>
            <li><img src="https://firebasestorage.googleapis.com/v0/b/tienda-de-ropa-83583.appspot.com/o/Collection.jpeg?alt=media&token=8ae0203a-4c2f-4362-8a4b-d31452082084"
                    alt="Responsive image"></li>
            <li><img src="https://firebasestorage.googleapis.com/v0/b/tienda-de-ropa-83583.appspot.com/o/Ropa_2.jpg?alt=media&token=bb34d996-1148-4fcd-8472-3d2fb0f69bc9"
                    alt="Responsive image"></li>
            <li><img src="https://i.pinimg.com/originals/03/e3/d0/03e3d00c4b9a4611fb35a76a67428ab5.jpg" alt="Responsive image"></li>
        </ul>
    </div>
</div>
