<div class="input-group mt-3">
  <select #select class="custom-select" aria-label="Example select with button addon">
    <option selected>Buscar a...</option>
    <option *ngFor="let producto of productos; let n = index">
      {{producto.descripcion}}</option>
    <option *ngFor="let categoria of categorias; let n = index">
      {{categoria.descripcion}}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="save(select.value)" (click)="buscar(select.value)" type="button">Imprimir</button>
  </div>
</div>