<div class="input-group mt-3">
  <select #select class="custom-select" aria-label="Example select with button addon">
    <option selected>Buscar a...</option>
    <option *ngFor="let producto of productos; let n = index">
      {{producto.descripcion}}</option>
    <option *ngFor="let categoria of categorias; let n = index">
      {{categoria.descripcion}}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="save(select.value)" (click)="buscar(select.value)" type="button">Imprimir</button>
  </div>
</div>
<div class="card-columns text-center m-3 mb-5 text-white">
  <div class="card bg-dark" style="width: 18rem;" *ngFor="let producto of productos; let i = index">
    <img class="card-img-top" src="./../../../assets/img/{{producto.imagen}}" alt="Not found xd">
    <div class="card-body">
      <h5 class="card-title">{{producto.descripcion}}</h5>
      <p class="card-text">Q.{{producto.precio}}</p>
      <a><button (click)="eliminar(producto.descripcion)" class="btn btn-outline-danger zoom">
          Eliminar</button></a>
    </div>
  </div>
</div>